<h1>Your Tour Request</h1>

<% if @step_one %>
  <p>We need some information to get started.</p>
  <%= render partial: 'personal_details_form', locals: { tour_request: @tour_request} %>
<% elsif @step_two %>
  <p>Just a few more pieces of information and we can confirm your tour date.</p>
  <%= render partial: 'additional_details_form', locals: { tour_request: @tour_request, amenities: @amenities} %>
<% else %>
  <%= render partial: 'details', locals: { tour_request: @tour_request } %>
  <%= render partial: 'rating_form', locals: { tour_request: @tour_request } %>
<% end %>
